<div class="cocktails-page">

  <div class="cocktails-hero">

    <div class="cocktails-hero-overlay">

      <span class="menu-subtitle">
        THE BARTENDER
      </span>

      <h1>Mes Cocktails</h1>

      <p>
        Une collection de délicieux moments.
      </p>

    </div>

  </div>

  <div class="cocktails-content">

    <div class="cocktails-header">

      <%= link_to "＋ Nouveau Cocktail",
      new_cocktail_path,
      class: "new-cocktail-btn" %>

    </div>

    <div class="cocktails-grid">

      <% @cocktails.each do |cocktail| %>

        <%= link_to cocktail_path(cocktail),
        class: "cocktail-card" do %>

          <div class="cocktail-card-content compact">

            <div class="cocktail-glass">
             <% if cocktail.image_url.present? %>
                  <%= image_tag cocktail.image_url, alt: cocktail.name %>
                <% else %>
                  <%= image_tag "cocktails/#{cocktail.name.parameterize}.jpg", alt: cocktail.name %>
                <% end %>
            </div>

            <div class="cocktail-info">
                  <h2><%= cocktail.name %></h2>
                  <p class="cocktail-mood">
                    <%= cocktail.mood %>
                  </p>

                  <p class="cocktail-description">
                    A signature cocktail crafted for quiet evenings.
                  </p>
            </div>
          </div>

        <% end %>

      <% end %>

    </div>

  </div>

</div>
